.cards-box{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 3%;
  background-color: gray;
  border-radius: 30px;
}

.cards-container {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

div.col{
  margin-bottom: 24px;
}

.urun1 {
  display: flex;
}